<section class="login" id="login">
    <div class="col-12 p-5 text-center ">
        <h1>Sign In</h1>
            <form action="/login/password" method="post">
                <div class="row">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" autocomplete="username" required autofocus>
                </div>
                <div class="row">
                    <label for="current-password">Password</label>
                    <input id="current-password" name="password" type="password" autocomplete="current-password" required>
                </div>
                <div class="row">
                    <button type="submit">Sign In</button>
                </div>
            </form>
    </div>
</section>